root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{js,css}]
indent_size = 2

[*.html]
indent_size = 2

[*.json]
indent_size = 2
insert_final_newline = ignore


[**/venv/**]
indent_style = ignore
indent_size = ignore
